{
  "extends": [
    "react-app",
    "plugin:jest/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "plugins": ["import", "prettier", "autofix", "jest"],
  "settings": {
    "import/resolver": {
      "typescript": {}
    },
    "import/ignore": ["framer-motion"]
  },
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["**.css"],
  "rules": {
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "import/order": [
      "warn",
      {
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "groups": [["external", "builtin"], "internal", ["parent", "sibling", "index"]],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "newlines-between": "always"
      }
    ]
  }
}
