name: deploy

on:
  workflow_call:
    inputs:
      environment:
        required: false
        type: string
    secrets:
      ENV:
        required: false
      SSH_DEPLOY_KEY:
        required: false

env:
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

jobs:
  cd:
    name: Deploy
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    steps:
      - name: Check Out Code
        uses: actions/checkout@v3

      - name: Use Node 22
        uses: actions/setup-node@v3
        with:
          node-version: 22

      # - name: Create Dotenv File
      #   run: |
      #     echo "${{ secrets.ENV }}" > .env

      - name: Run install
        uses: borales/actions-yarn@v4
        with:
          cmd: install

      - name: Build chrome
        uses: borales/actions-yarn@v4
        with:
          cmd: build:chrome

      - name: Set current date as env variable
        id: get-datetime
        run: |
          echo "time_now=$(date +'%Y-%m-%dT%H-%M-%S')" >> $GITHUB_OUTPUT

      - name: Rename output zip
        run: |
          mkdir output
          mv dist/chrome.zip output/chrome.zip

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: miden-wallet-build
          path: output/chrome.zip
