name: deploy

on:
  workflow_call:
    inputs:
      environment:
        required: false
        type: string
    secrets:
      ENV:
        required: false
      SSH_DEPLOY_KEY:
        required: false

env:
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
  YARN_ENABLE_IMMUTABLE_INSTALLS: true
  YARN_ENABLE_INLINE_BUILDS: true

jobs:
  cd:
    name: Deploy
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    steps:
      - name: Check Out Code
        uses: actions/checkout@v4

      - name: Use Node 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'

      # - name: Create Dotenv File
      #   run: |
      #     echo "${{ secrets.ENV }}" > .env

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build chrome
        run: yarn build:chrome

      - name: Set current date as env variable
        id: get-datetime
        run: |
          echo "time_now=$(date +'%Y-%m-%dT%H-%M-%S')" >> $GITHUB_OUTPUT

      - name: Rename output zip
        run: |
          mkdir output
          mv dist/chrome.zip output/chrome.zip

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: miden-wallet-build
          path: output/chrome.zip
