name: test

on:
  workflow_call:
    inputs:
      environment:
        required: false
        type: string
    secrets:
      ENV:
        required: false
      SSH_DEPLOY_KEY:
        required: false

env:
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
  YARN_ENABLE_IMMUTABLE_INSTALLS: true
  YARN_ENABLE_INLINE_BUILDS: true

jobs:
  ci:
    name: Test
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    steps:
      - name: Check Out Code
        uses: actions/checkout@v4

      - name: Use Node 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'

      # - name: Create Dotenv File
      #   run: |
      #     echo "${{ secrets.ENV }}" > .env

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run Unit Tests
        run: yarn test

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Build chrome
        run: yarn build:chrome
