name: test

on:
  workflow_call:
    inputs:
      environment:
        required: false
        type: string
    secrets:
      ENV:
        required: false
      SSH_DEPLOY_KEY:
        required: false

env:
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

jobs:
  ci:
    name: Test
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    steps:
      - name: Check Out Code
        uses: actions/checkout@v3

      - name: Use Node 20
        uses: actions/setup-node@v3
        with:
          node-version: 20

      # - name: Create Dotenv File
      #   run: |
      #     echo "${{ secrets.ENV }}" > .env

      - name: Run Install
        uses: borales/actions-yarn@v4
        with:
          cmd: install

      - name: Run Unit Tests
        uses: borales/actions-yarn@v4
        with:
          cmd: test

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Build chrome
        uses: borales/actions-yarn@v4
        with:
          cmd: build:chrome
