name: i18n Check

on:
  workflow_call:

jobs:
  i18n-check:
    name: Check for non-i18n'd strings
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Check i18n compliance
        run: yarn lint:i18n
