name: PR Tests

on:
  pull_request:
    branches:
      - main
      - dev
      - next
      - 'mw-**'
      - 'feat/**'

jobs:
  translations:
    uses: ./.github/workflows/translations.yml
    secrets: inherit

  ci:
    needs: translations
    uses: ./.github/workflows/ci.yml
    secrets: inherit

  coverage:
    needs: translations
    uses: ./.github/workflows/coverage.yml

  i18n-check:
    needs: translations
    uses: ./.github/workflows/i18n-check.yml
