name: Build Production

on:
  push:
    branches:
      - 'main'

jobs:
  ci:
    uses: ./.github/workflows/ci.yml
    with:
      environment: PRODUCTION
    secrets: inherit
  cd:
    needs: [ ci ]
    uses: ./.github/workflows/cd.yml
    with:
      environment: PRODUCTION
    secrets: inherit
